<% if flash[:notice] %>
  <div id='flash_message'>
    <%= flash[:notice] %>
    <a href='#' class='close'>dismiss</a>
  </div>
<% end %>

<div id="main">
  <h2>Pokemon Filters</h2>
  <div id='filters'>
    <ul>
      <li>
        <a href='/' class='pokemon-type' >all</a>
      </li>
      <% @types.each do |type| %>
        <li>
          <a href='<%= pokemon_type_path(type) %>' class='<%= pokemon_type_class(type) %>' ><%= type %></a>
        </li>
      <% end %>
    </ul>
  </div>

  <hr/>

  <!-- The similarities between #captured_pokemon & #free_pokemon aren't coincidence :-) -->
  <div id='captured_pokemon'>
    <h2>Captured Pokemon</h2>
    <%= render partial: 'pokemon/pokemon', collection: @captured_pokemon %>
  </div>

  <hr/>

  <div id='free_pokemon'>
    <h2>Free Pokemon</h2>
    <%= render partial: 'pokemon/pokemon', collection: @free_pokemon %>
  </div>
</div>

